ul {
  display: inline-block;
  color: #33635c;
  padding: 50px;
}
ul li {
  color: #9aa5ce;
}
a {
  color: #9aa5ce;
  text-decoration: none;
}
p {
  color: #9aa5ce;
}
h2 {
  text-align: center;
  color: #7dcfff;
}
h3 {
  text-align: center;
  color: #bb9af7;
}
body {
  background-color: #24283b;
  font-family: 'Fira Code';
}
.divlists {
  display: flex;
  justify-content: center;
}
